* {
    padding: 0;

    margin    : 0;
    box-sizing: border-box;
}

.items {
    display           : grid;
    grid-template-rows: auto;
    grid-template-areas:
        "item1 item1 item2 item3 item4"
        "item1 item1 item5 item6 item6"
        "item7 item8 item9 item6 item6";
    gap: 8px 8px;
}

.item1 {
    grid-area: item1;
    overflow : hidden;
}

img:hover {

    transform: scale(1.2);

}

.item2 {
    overflow: hidden;

    grid-area: item2;
}

.item3 {
    overflow: hidden;

    grid-area: item3;
}

.item4 {
    overflow: hidden;

    grid-area: item4;
}

.item5 {
    overflow: hidden;

    grid-area: item5;
}

.item6 {
    overflow: hidden;

    grid-area: item6;
}

.item7 {
    overflow: hidden;

    grid-area: item7;
}

.item8 {
    overflow: hidden;

    grid-area: item8;
}

.item9 {
    overflow: hidden;

    grid-area: item9;
}

img {
    width     : 100%;
    transition: transform .5s;

}